@model Quotes.Entities.Mood

@{
    ViewBag.Title = "Quotes";
}

<h2>@Html.DisplayFor(model => model.moodDesc) Quotes</h2>

<table>
    <tr>
        <th>
            Quote
        </th>
    </tr>
    @foreach (var quote in Model.quotes)
    { 
        <tr>
            <td>@quote.quoteDesc</td>
        </tr>
    }
</table>
